@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');

.fs-logo-container {
    display: flex;
    align-items: center;
}

.fs-logo-container:hover {
    cursor: pointer;
}

.fs-logo-image {
    height: 80px;
    filter: drop-shadow(2px 2px deepskyblue);
}