@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');

.page-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.page-flex-container {
    display: flex;
    margin-top: 10px;
    font-size: 18px;
}

.other-page {
    margin: 10px;
}

.other-page:hover {
    cursor: pointer;
    color: deepskyblue;
    text-decoration: underline;
}

.current-page {
    margin: 10px;
    font-weight: bold;
    text-decoration: underline;
}